*.pyc
*/*.pyc
*/*/*.pyc
*/.project
*/.pydevproject
/*.md5
venv
build
celerybeat-schedule.db
celerybeat-schedule
.pydevproject
*.idea
*~
.idea/*
testlogs
*.swp
*.swo
docs/_build
deploy.log
.elasticbeanstalk/
*.sqlite3
/miami_metro/staticfiles
