<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <div>
        <a href="{% url upgrade_admin:influencers_tests_c1 %}">create influencer with email: lauren02468@yahoo.com and blog: laurenandjessiblog.com</a>
        <br>
        <a href="{% url upgrade_admin:influencers_tests_c2 %}">create influencer with no email: but with blog http://laurenstestingblog.blogspot.com/</a>
        <br>
        <a href="{% url upgrade_admin:influencers_tests_d1 %}">delete influencer with email: lauren02468@yahoo.com and blog: laurenandjessiblog.com</a>
        <br>
        <a href="{% url upgrade_admin:influencers_tests_d2 %}">delete influencer with no email: but with blog http://laurenstestingblog.blogspot.com/</a>
        <br>
        <a href="{% url upgrade_admin:influencers_tests_du1 %}">delete user with email: lauren02468@yahoo.com</a>
        <br>
        <a href="{% url upgrade_admin:influencers_tests_du2 %}">delete user with email: laurensingh.stores@gmail.com</a>
        <br>
        <a href="{% url upgrade_admin:influencers_tests_du3 %}">delete user with email: lauren_jung@aol.com and brand with domain_name: aol.com</a>

    <div>
</body>

</html>
