{% extends 'pages/admin/base.html' %}

{% load compressed %}

{% block page_js %}
{% compressed_js 'angular_admin' %}
{% endblock %}

{% block page_css %}

<style>
#pdo-stats th, #pdo-stats tr {
    width: 200px;
    text-align: left;
}

.status-ok {
    color: green;
}

.status-fail {
    color: red;
}
</style>

{% endblock %}

{% block content %}

<h1>PlatformDataOp Summary For the Last {{days}} Days</h1>

<table id=pdo-stats>
    <thead>
        <th></th>
        {% for ds in day_specs %}
            <th colspan=3>{{ds.0}}/{{ds.1}}</th>
        {% endfor %}
    </thead>

    {% for r in table_rows %}
        <tr>
            {% for item in r %}
                {% if forloop.first %}
                <td>
                    {{item}}
                </td>
                {% else %}
                    <td class=status-ok>{{item.without_error}}</td>
                    <td class=status-fail>{{item.with_error}}</td>
                    <td>
                    {% if item.success_pct %}
                        {{item.success_pct|floatformat:2}}%
                    {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}

    {% for row in data %}
        <tr>
            <td>{{row.0}}</td>
            <td>{{row.1}}</td>
            <td>{{row.2|floatformat}} / {{row.3|floatformat}}</td>
            <td>{{row.4}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
