{% extends 'pages/admin/base.html' %}
{% load compressed %}

{% block page_js %}
{% compressed_js 'angular_admin' %}
<script type="text/javascript">

var render_link = function(target){
    return function(obj) {
        if(obj.aData[target] === "null" || obj.aData[target] === null){
            return '';
        }else{
            return "<a target='blank' href='http://"+obj.aData[target]+"'>"+obj.aData[target]+"</a>";
        }
    };
};
var render_email = function(target){
    return function(obj) {
        if(obj.aData[target] === "null" || obj.aData[target] === null){
            return '';
        }else{
            return "<a target='blank' href='mailto://"+obj.aData[target]+"'>"+obj.aData[target]+"</a>";
        }
    };
};
angular.module("theshelfadmin").value("columns", [
    {
        'mData': 'brand_id',
        'sTitle': 'Brand ID',
        'editable': false,
        'bSortable': true,
    }, {
        'mData': 'brand_name',
        'sTitle': 'Brand name',
        'editable': false,
        'bSortable': true,
    }, {
        'mData': 'username',
        'sTitle': 'Username',
        'fnRender':  render_email('username'),
        'editable': false,
        'bSortable': true,
    }, {
        'mData': 'name',
        'sTitle': 'Collection Name',
        'editable': false,
        'bSortable': true,
    }, {
        'mData': 'page_url',
        'sTitle': 'Collection URL',
        'fnRender': render_link('page_url'),
        'editable': false,
        'bSortable': false,
    }, {
        'mData': 'flag_last_report_sent',
        'sTitle': 'Last Report Sent',
        'editable': false,
        'bSortable': true,
    }, {
        'mData': 'is_new_report_ready',
        'sTitle': 'Is new report ready',
        'editable': false,
        'bSortable': true,
    },
]);
</script>
{% endblock %}{% block page_css %}

<style type="text/css">
body { overflow-x: scroll; height:100%; }
</style>
{% endblock %} {% block content %}
<div ng-app="theshelfadmin">
    <table admin-form source="{{source}}" class="data_table" skip-actions skip-date-edited skip-date-validated>
    </table>
</div>

{% endblock %}

