{% load widget_tweaks %}
{% load custom_filters %}

{% for post in posts%}
<div class="admin_item post_item feed_item item_ok" data-item-id="{{ post.id }}">
    <div class="click_overlay">Click to show on feed</div>
    <div class="indi_img">
        <div class="added_date">{{ post.create_date }}</div>
        <div class="post_type"><h1 class="centered rale_1 xlarge">{{ post.platform.platform_name }}</h1></div>

        <div class="img_wrapper">
            <img src="{{ post|post_pic }}" alt="post item" style="height:200px;width:auto;"/>
        </div>

        <div class="post_content">
            {{ post.content|striptags|cut:"&nbsp;" }}
        </div>
    </div>
</div>
{% endfor %}