{% load custom_filters %}

{% with info=row_data.done_negotiating %}

    <div mailbox-table-cell>
        <!--<div ng-if="angular.isNumber(mailboxTableRow.finalRateColumn.storedValues.finalRate) || mailboxTableRow.displayedRateColumn.storedValues.displayedRate.length"-->
        <div
            request-button
            class="lg_action_btn"
            style="margin: 5p!important;"
            ng-click="requestButtonCtrl.doRequest({method: 'POST', successCb: mailboxTableRow.move, successCbParams: {value: {{ info.stage }}}, url: updateUrl, data: {modelName: 'InfluencerJobMapping', id: {{ row_data.id }}, values: {campaign_stage: {{ info.stage }}, moved_manually: false}}})"
        >
            <span ng-hide="requestButtonCtrl.loading">Done Negotiating</span>
            <span ng-show="requestButtonCtrl.loading">Moving...</span>
        </div>
        <!--<div ng-if="!angular.isNumber(mailboxTableRow.finalRateColumn.storedValues.finalRate)">---</div>-->
    </div>

{% endwith %}