{% load custom_filters %}

{% with info=row_data.restore %}

    <div mailbox-table-cell>

        <div request-button>
            <button ng-hide="requestButtonCtrl.loading"
                class="icon_button icon-arrow_0_out_box"
                ng-click="requestButtonCtrl.doRequest({method: 'POST', successCb: mailboxTableRow.remove, url: updateUrl, data: {modelName: 'InfluencerJobMapping', id: {{ row_data.id }}, values: {campaign_stage: {{ info.campaign_stage_prev }}, moved_manually: false }}})"
            >
            </button>
            <span ng-show="requestButtonCtrl.loading">Restoring...</span>
        </div>

        {% comment %}
        <div request-button>
            <button ng-hide="requestButtonCtrl.loading"
                class="icon_button icon-misc_files_trash4"
                ng-click="requestButtonCtrl.doRequest({method: 'POST', successCb: mailboxTableRow.move, successCbParams: {value: {{ info.CAMPAIGN_STAGE_ARCHIVED }}}, url: updateUrl, data: {modelName: 'InfluencerJobMapping', id: {{ row_data.id }}, values: {campaign_stage: {{ info.CAMPAIGN_STAGE_ARCHIVED }}, moved_manually: true }}})"
            >
            </button>
            <span ng-show="requestButtonCtrl.loading">Archiving...</span>
        </div>
        {% endcomment %}

    </div>

{% endwith %}