{% load custom_filters %}

{% with info=row_data.count_gplus_plusone_info %}
<div class="table_edit_boxes number_box">
    {% verbatim %}
    <div ng-hide="showEdit" class="faux_textbox">{{ values.countGPlus || "---"}}</div>
    {% endverbatim %}

    <div post-analytics-update class="edit_field_in_table" target-url="{% url debra.search_views.edit_post_analytics info.pa_id %}" values-list='{"countGPlus": "{{ info.count_gplus_plusone|default_if_none:"" }}"}'>
        <div class="editing_area clearfix">
            <fieldset class="typical_form halfer xsmall_field lighter_field">
                <input type="text" ng-model="values.countGPlus">
            </fieldset>
            <button ng-click="$event.stopPropagation();!loading && update({count_gplus_plusone: values.countGPlus})" class="update_btn">
                <span ng-show="loading">Updating...</span>
                <span ng-hide="loading">Update</span>
            </button>
        </div>
    </div>
</div>
{% endwith %}