{% load custom_filters %}

{% with post=row_data.post_num_comments_info %}

    {% if post.post_found %}
        <div class="table_edit_boxes number_box">
            {% verbatim %}
            <div ng-hide="showEdit" class="faux_textbox">{{ values.postNumComments || "unable to discover"}}</div>
            {% endverbatim %}

            <div post-analytics-update class="edit_field_in_table" target-url="{% url debra.search_views.edit_post_analytics post.pa_id %}" values-list='{"postNumComments": "{{ post.num_comments|default_if_none:"" }}"}'>
                <div class="editing_area clearfix">
                    <fieldset class="typical_form halfer xsmall_field lighter_field">
                        <input type="text" ng-model="values.postNumComments">
                    </fieldset>
                    <button ng-click="$event.stopPropagation();!loading && update({post_num_comments: values.postNumComments})" class="update_btn">
                        <span ng-show="loading">Updating...</span>
                        <span ng-hide="loading">Update</span>
                    </button>
                </div>
            </div>
        </div>
    {% else %}
        <div>---</div>
    {% endif %}
{% endwith %}