<div class="social_row">
    {% if page_user_prof.social.facebook_page %}<a class="icon-social_facebook bs_tooltip" data-placement="top" rel="tooltip" title="Facebook page" href="{{page_user_prof.social.facebook_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.twitter_page %}<a class="icon-social_twitter bs_tooltip" data-placement="top" title="Twitter" href="{{page_user_prof.social.twitter_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.pinterest_page %}<a class="icon-social_pinterest bs_tooltip" data-placement="top" title="Pinterest" href="{{page_user_prof.social.pinterest_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.blog_page %}<a class="icon-social_blog bs_tooltip" data-placement="top" title="Blog" href="{{page_user_prof.social.blog_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.web_page %}<a class="icon-social_globe2 bs_tooltip" data-placement="top" title="Website" href="{{page_user_prof.social.web_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.etsy_page %}<a class="icon-social_store bs_tooltip" data-placement="top" title="Store" href="{{page_user_prof.social.etsy_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.store_page %}<a class="icon-social_store bs_tooltip" data-placement="top" title="Store" href="{{page_user_prof.social.store_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.instagram_page %}<a class="icon-social_instagram2 bs_tooltip" data-placement="top" title="Photos" href="{{page_user_prof.social.instagram_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.bloglovin_page %}<a class="icon-social_blog_lovin bs_tooltip" data-placement="top" title="Blog Lovin" href="{{page_user_prof.social.bloglovin_page}}" target="_blank"></a>{% endif %}
    {% if page_user_prof.social.youtube_page %}<a class="icon-social_youtube bs_tooltip" data-placement="top" title="YouTube" href="{{page_user_prof.social.youtube_page}}" target="_blank"></a>{% endif %}
</div>
