{% extends "base2.html" %}

{% block title %}Shelf.com | Page not found{% endblock %}
{% block body_tag %}
<body id="missing_404" style="height:100%; width:100%;">
{% endblock %}

{% block bgnd_img %}{% endblock %}


{% block content %}
<div class="wrapper" style="height:100%; width:100%;" >
<div id="detail_container" style="height:100%; width:100%;" class="gray_gradient_fade_wh center_text"> 
	<img style="margin-top: 130px;" src="/mymedia/site_folder/images/page_graphics/404_maintenance.png"></div>
</div>
<!-- NAGIGATION BAR --> 
<!-- NAGIGATION BAR --> 
<!-- NAGIGATION BAR -->
<div class="nav_bar" style="height:62px;">
    <div class="outer-center">
        <a class="inner-center" href="/myshelf/">
            <span class="icon-shelf_logo"></span><span class="icon-beta"></span>
        </a>
    </div>
</div>

{% endblock %}
