software-properties-common
python-software-properties
build-essential
git
exuberant-ctags
python-setuptools
curl
libcurl4-gnutls-dev
libgnutls-dev
sqlite3
libsqlite3-dev
libmemcached-dev
ipython
python-dev
pkg-config
python-pip
python-virtualenv
# lxml dependencies
libxml2-dev
libxslt-dev
libpq-dev
pgbouncer
libjpeg-dev
libjpeg8-dev
libfreetype6-dev
zlib1g-dev
libpng12-dev

supervisor
xvfb
dbus-x11
atop
xfonts-100dpi
xfonts-75dpi
xfonts-scalable
xfonts-cyrillic
