{% load i18n admin_static compressed %}


{% load i18n intercom %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <LINK REL="SHORTCUT ICON" HREF="/mymedia/site_folder/images/global/favicon.ico">
    <!--This is for hosting email on google. They need to verify we own this domain theshelf.com -->

    <!--** Global CSS **-->
    <link href="/mymedia/site_folder/css/jquery.Jcrop.css" type="text/css" rel="stylesheet"  />
    <link href="/mymedia/site_folder/css/old/introjs.min.css" text="text/css" rel="stylesheet" />
    <link href="/mymedia/site_folder/css/style.css" media="screen" rel="stylesheet" />
    <link href="/mymedia/site_folder/css/global.less" media="screen" rel="stylesheet/less" />
    <link href="/mymedia/site_folder/css/laurens_font.less" media="screen" rel="stylesheet/less"  />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/mymedia/site_folder/js/vendor/less-1.4.1.js"></script>
</head>
<body class="wh_bg_color">
    <div class="lightbox dynamic bl_bg_lb w_logo">
        <div class="logo_centerer">
            <div class="icon-social_0_shelf_shelf3a"></div>
        </div>
        <div class="container">
            <div class="content_area">
                <div class="content_area_container px1000 login_lb">
                    <h1 class="lb_title gray xxlarge white">Login</h1>
                    <div class="subti gray">
                      {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                      <p class="errornote">
                          {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                      </p>
                      {% endif %} {% if form.non_field_errors or form.this_is_the_login_form.errors %} {% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
                      <p class="errornote">
                          {{ error }}
                      </p>
                      {% endfor %} {% endif %}
                    </div>
            <form action="{{ app_path }}" method="post" id="login-form" class="login_form">{% csrf_token %}
                <fieldset class="typical_form">
                    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
                    <label for="id_username" class="required">{% trans 'Username:' %}</label>{{ form.username }}
                </fieldset>
                <fieldset class="typical_form">
                    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
                    <label for="id_password" class="required">{% trans 'Password:' %}</label>{{ form.password }}
                    <input type="hidden" name="this_is_the_login_form" value="1" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </fieldset>
                <fieldset class="typical_form">
                    <label>&nbsp;</label>
                    <input type="submit" value="{% trans 'Log in' %}" />
                </fieldset>
            </form>

            <script type="text/javascript">
            document.getElementById('id_username').focus();
            </script>

                </div>
            </div>
        </div>
    </div>
    {% intercom_tag %}
</body>
</html>
