{% extends 'company/base.html' %}

{% block content %}
<div class="main_section" style="overflow:hidden; margin-top:-10px;">

    <!-- HEADER -->
    <!-- HEADER -->
    <!-- HEADER -->
    <div class="comp_header" style="background:url(/mymedia/site_folder/images/page_graphics/company/headers/header_help2.jpg);">
        <h1 class="header_title">HELP SECTION</h1>
        <p class="header_italic">how to use The Shelf if you are a shopper</p>
    </div>


    <!-- BENEFITS -->
    <!-- BENEFITS -->
    <!-- BENEFITS -->
    <div class="container w_shad_bord_top w_shad_bord_bot  clearfix"> 
        <div class="content_area quad first"> 
            <!-- TITLE -->
            <div class="title_block w_margin">
                <h1 class="title">Overview of Shopping Features</h1>
            </div>
            <div class="content_bucket">
                <div class="bene_icon center_text" >
                    <img src="/mymedia/site_folder/images/page_graphics/company/about/shelf_icon_4.png" />
                </div>
                <h1 class="fashion_light medium gray center_text w_kerning" style="padding:10px 0;">DEAL AGGREGATION</h1>
                <p class="san_serif small lessgray center_text w_leading">We pull all running promos into a filterable dashboard of color-coded promos.</p>
            </div>
            <div class="content_bucket">
                <div class="bene_icon center_text">
                    <img src="/mymedia/site_folder/images/page_graphics/company/about/shelf_icon_3.png" />
                </div>
                <h1 class="fashion_light medium gray center_text w_kerning" style="padding:10px 0;">HISTORICAL PRICES</h1>
                <p class="san_serif small lessgray center_text w_leading">We apply these promotions to the items a user is watching in order to tell them the lowest price at any point in time as well as provide them with historical price tracking charts so that users can set up smart price alerts.  </p>
            </div>
            <div class="content_bucket">
                <div class="bene_icon center_text">
                    <img src="/mymedia/site_folder/images/page_graphics/company/about/shelf_icon_2.png" />
                </div>
                <h1 class="fashion_light medium gray center_text w_kerning" style="padding:10px 0;">PRICE ALERTS</h1>
                <p class="san_serif small lessgray center_text w_leading">Users can set up price alerts on items they like.  Then when the price drops, we'll let them know.</p>
            </div>
            <div class="content_bucket last_child">
                <div class="bene_icon center_text">
                    <img src="/mymedia/site_folder/images/page_graphics/company/about/shelf_icon_1.png" />
                </div>
                <h1 class="fashion_light medium gray center_text w_kerning" style="padding:10px 0;">SIZE AVAILIBILTY</h1>
                <p class="san_serif small lessgray center_text w_leading">We keep up with the availibility of a user's size and color preferences...  so that they're not keeping up with items that have long since been in stock.</p>
            </div>
            
        </div>      
    </div>   


    <div class="container w_shad_bord_bot clearfix first gray_grad">
        <div class="content_area">
            <br/>
            <h2 class="fashion_light large gray center_text" style="line-height:.3; padding-bottom:40px;">First, Install Your Bookmarklet</h2>
            <p class="hint_italics small lessgray center_text w_leading" style="width:900px; margin:0 auto;">
                A bookmarklet is a tool that you can use to "Shelve" items that you like while shopping.  They are easy to use, and if you've ever used one before (like on Pinterest, or something...) then you'll know what to do.  Just drag the bookmarklet up to your bookmarks bar.<br/>
                If you haven't used a bookmarklet before, you can watch the video below to see how to do it on your browser.  
            </p>
            <br/>
            <p class="centerer" style="clear:both;">
                <a href="{{ js_code }}" onclick="return false;" \
                    oncontextmenu="if(window.navigator.userAgent.indexOf(\'WebKit\')!=-1) return false;"
                    onClick="_gaq.push(['_trackEvent', 'Button', 'Click', 'Bookmarklet']);" >
                    <img style="margin-right:40px;" src="/mymedia/site_folder/images/global/bookmarklet_large.png" alt="Shelf-It"/>
                </a>
            </p>
            <br/>
            
        </div>
        <!-- EXPANDABLE CONTENT  -->
       <!-- FIREFOX -->
        <div class="outer-center" style="height:475px; margin-bottom:70px;">
            <div class="inner-center">
                <div class="iframe_container">
                    <iframe src="http://player.vimeo.com/video/50815718?title=0&amp;byline=0&amp;portrait=0" width="750" height="422" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    
                </div>
                <!-- GOOGLE CHROME --> 
                <!--div class="iframe_container">
                    <iframe src="http://player.vimeo.com/video/50816133?title=0&amp;byline=0&amp;portrait=0" width="750" height="422" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
                </div-->
                <!-- SAFARI --> 
                <!--div class="iframe_container">
                    <iframe src="http://player.vimeo.com/video/50816135?title=0&amp;byline=0&amp;portrait=0" width="750" height="422" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
                </div-->
                <!-- OPERA --> 
                <!--div class="iframe_container">
                    <iframe src="http://player.vimeo.com/video/50816136?title=0&amp;byline=0&amp;portrait=0" width="750" height="422" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
                </div-->
                <!-- INTERNET EXPLORER --> 
                <!--div class="iframe_container">
                    <iframe src="http://player.vimeo.com/video/50816134?title=0&amp;byline=0&amp;portrait=0" width="750" height="422" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
                </div>-->
            </div>
        </div>
    </div>

    <!-- OPEN POSITIONS -->
    <!-- OPEN POSITIONS -->
    <!-- OPEN POSITIONS -->
    <div class="container w_shad_bord_bot clearfix" style="background:teal;">
        <!-- TITLE -->
        <div class="content_area"> 
            <h1 class="fashion_light large white center_text" style="padding:30px 0;">How To Shelf an Item While Shopping</h1>
        </div>   
    </div>
    <!-- INSTRUCTIONS -->
    <!-- INSTRUCTIONS -->
    <!-- INSTRUCTIONS -->
    <div class="container w_shad_bord_bot side_layout clearfix"> 
        <div class="content_area"> 
            <!-- CONTENT -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block">
                    <h2 class="fashion_light large gray">Select Size</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">Whenever you're shopping, and you see something you like...  you can bookmark that item using our bookmarklet.  If you care about a particular size...  you can select YOUR SIZE before you click the bookmarklet...  And then we'll keep track of the availibility for you.  (You can edit the size later, if you forget to do it here.)</p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/how_size.png"/></div>
            </div>
            <!-- CONTENT -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block">
                    <h2 class="fashion_light large gray">Click Bookmarklet</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">To add an item to your Shelves, just click the Shelf-it Bookmarklet (that you installed using the Bookmarklet Section above).  Remember to select your size beforehand if you want to track the availibilty for your size.</p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/how_bookmark.png"/></div>
            </div>
            <!-- CONTENT -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block">
                    <h2 class="fashion_light large gray">Confirmation Popup</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">After you click the bookmarklet, you'll see a confirmation popup.  Before click Save, you can configure a few things.</p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/how_bookmarklet.png"/></div>
            </div>
            <!-- CONTENT -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block">
                    <h2 class="fashion_light large gray">Settings & Save</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">If you want to go ahead and set up a price alert (so that you get notified when the item goes on sale, you can do that here.  You should also choose a Shelf for this item to show up on.  (If you don't select a Shelf, you can still find it in the My Favorites Shelf.) Then make sure to click SAVE!</p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/how_settings.png"/></div>
            </div>
            
        </div>      
    </div>   

    



    <!-- OPEN POSITIONS -->
    <!-- OPEN POSITIONS -->
    <!-- OPEN POSITIONS -->
    <div class="container w_shad_bord_bot clearfix" style="background:teal;">
        <!-- TITLE -->
        <div class="content_area"> 
            <h1 class="fashion_light large white center_text" style="padding:30px 0;">Your Shelves</h1>
        </div>   
    </div>
    <!-- INSTRUCTIONS -->
    <!-- INSTRUCTIONS -->
    <!-- INSTRUCTIONS -->
    <div class="container w_shad_bord_bot side_layout clearfix gray_grad"> 
        <div class="content_area"> 
            <!-- YOUR SHELVES -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block" style="margin-top:50px;">
                    <h2 class="fashion_light large gray">Your Shelves</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">Shelf is divided up into three main sections: Inspiration, My Shelves, and My Account.  To view the items you've been Shelving, go to MY SHELVES.  You can filter them by CATEGORY or STORE.</p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/shelf_nav.png"/></div>
            </div>

            <!-- Your Items -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block">
                    <h2 class="fashion_light large gray">Your Items</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">Whenever you're shopping, and you see something you like...  you can bookmark that item using our bookmarklet.  If you care about a particular size...  you can select YOUR SIZE before you click the bookmarklet...  And then we'll keep track of the availibility for you.  (You can edit the size later, if you forget to do it here.)</p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/shelf_main.png"/></div>
            </div>


            <!-- Your Items -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block">
                    <h2 class="fashion_light large gray">Click To Expand</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">Click a Shelf to toggle it open and see a large view of the items within.  </p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/shelf_expanded.png"/></div>
            </div>


            <!-- Your Items -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block">
                    <h2 class="fashion_light large gray">Hover Over Item</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">When you hover over an item you'll see buttons to VIEW the item as well as DELETE it.  The Delete Button is self explanatory.  :)  The View Button will open up a details panel that shows a bunch of info that will help you save money...  as well as determine the best time to buy that item.</p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/shelf_item_hov.png"/></div>
            </div>

            <!-- Your Items -->
            <div class="content_area with_margins with_border clearfix"> 
                <div class="text_block">
                    <h2 class="fashion_light large gray">Item Details Panel</h2>
                    <p class="san_serif block_text lesssmall w_leading lessgray">When you hover over an item you'll see buttons to VIEW the item as well as DELETE it.  The Delete Button is self explanatory.  :)  The View Button will open up a details panel that shows a bunch of info that will help you save money...  as well as determine the best time to buy that item.</p>
                </div>
                <div class="dl_image"><img src="/mymedia/site_folder/images/page_graphics/company/press/screenshots/shelf_panel.png"/></div>
            </div>

            


        </div>
    </div>



</div>



<div class="main_section" style="background:teal;">
    <div class="content_area with_border first clearfix with_margin" style="padding-bottom:30px;"> 
        <div class="title_block">
            <a href="/mymedia/site_folder/images/page_graphics/company/press/press_kit_download.zip" style="height:60px;" class="teal_display_btn medium_version center_text"><span>Download the Entire Press Kit</span></a>
            <a href="mailto:support@getshelf.com" class="text_link hint_italics smallermedium center_text" style="color:#fff!important;">Or, contact us for something specific.</a>
        </div>
    </div>
</div>
{% endblock %}