{% extends 'company/base.html' %}

{% block content %}
<!-- Contact Us Lb -->
{% include 'popups/contact_us_lb.html' with popup_type="contact-us-popup" %}
<div class="main_section">
    <!-- HEADER -->
    <!-- HEADER -->
    <!-- HEADER -->
    <div class="comp_header" style="background:url(/mymedia/site_folder/images/page_graphics/company/headers/header_hiring3.jpg);">
        <h1 class="header_title">CAREERS</h1>
        <p class="header_italic">We're hiring right now, and we'd love to hear from you!</p>
    </div>


    <!-- BENEFITS -->
    <!-- BENEFITS -->
    <!-- BENEFITS -->
    <div class="container w_shad_bord_top w_shad_bord_bot clearfix">
        <!-- Title -->
        <div class="title_block w_margin">
            <h1 class="co_title">The Benefits</h1>
        </div>
        <!-- Benefits -->
        <div class="content_area triple center_text"> 
            <div class="content_bucket with_margins">
                <div class="bene_icon">
                    <p class="icon-misc_value_heart2 center_text" style="background-color:#f65d69;"></p>
                </div>
                <h1 class="co_subtitle" style="padding-bottom:10px;">HEALTH</h1>
                <p class="co_body_text">We got your back, Jack. We provide medical, dental, and vision insurance (for you and the fam).  </p>
            </div>
            <div class="content_bucket with_margins">
                <div class="bene_icon">
                    <p class="icon-misc_time_calendar center_text" style="background-color:#ead12f"></p>
                </div>
                <h1 class="co_subtitle" style="padding-bottom:10px;">VACA</h1>
                <p class="co_body_text">Well, it looks like startups have taken a new approach towards PTO, so we will too, dammit!  You can make your own schedule.</p>
            </div>
            <div class="content_bucket with_margins last_child">
                <div class="bene_icon">
                    <p class="icon-misc_files_gear center_text" style="background-color:#6dd8e5"></p>
                </div>
                <h1 class="co_subtitle" style="padding-bottom:10px;">GEAR</h1>
                <p class="co_body_text">We happen to be Mac people...  but that’s only because Macs are better.  But if you’re a PC person...  we will support you and your preference with only mild judgement.</p>
            </div>
            <div class="content_bucket">
                <div class="bene_icon" >
                    <p class="icon-misc_very_bulb center_text" style="background-color:#70e1b5;"></p>
                </div>
                <h1 class="co_subtitle" style="padding-bottom:10px;">INVENT</h1>
                <p class="co_body_text">We're giving you the wheel, so to speak.  We want our employees to take responsibility for a chunk of Shelf and then have at it!</p>
            </div>
            <div class="content_bucket">
                <div class="bene_icon">
                    <p class="icon-misc_loc_tour center_text" style="background-color:#4866bc"></p>
                </div>
                <h1 class="co_subtitle" style="padding-bottom:10px;">EXPLORE</h1>
                <p class="co_body_text">If there's something you don't know, we'll pay for books and Lynda subscriptions...  Plus, we're stationed in Las Vegas, home of tech conferences... and strippers.</p>
            </div>
            <div class="content_bucket last_child">
                <div class="bene_icon">
                    <p class="icon-people_laugh4 center_text" style="background-color:#afcf6a"></p>
                </div>
                <h1 class="co_subtitle" style="padding-bottom:10px;">FOOD</h1>
                <p class="co_body_text">We're big advocates of free food (and have been since moving out of our parent's houses)...  so we'll hook you up!</p>
            </div>
        </div>      
    </div>   


    <!-- TEAL DIVIDER -->
    <div class="teal_bg_header">Job Openings</div>




    <!-- POSTING -->
    <!-- POSTING -->
    <!-- POSTING -->
    <div class="container w_shad_bord_bot clearfix first gray_grad">
        <div class="content_area job_posting">
            <div class="co_title">Lead Software Engineer</div>
            <div class="job_buttons">
                <a class="square_bt sm teal_bt launch-popup" data-popup-type="contact_us"><span>Apply →</span></a>
                <a class="square_bt sm teal_bt launch-popup" data-popup-type="contact_us"> <span>Referral →</span></a>
            </div> 
            <div class="job_desc clearfix">
                <div class="job_column job_specs">
                    <div class="co_mini_subtitle">Location</div>
                    <p class="co_body_text">Las Vegas</p>
                    <div class="co_mini_subtitle">Years</div>
                    <p class="co_body_text">4-5 years (but as long as you’re really good, we don’t really care.)</p>
                    <div class="co_mini_subtitle">Code</div>
                    <p class="co_body_text">
                        Python &amp; Django 
                        <br/> HTML &amp; CSS 
                        <br/> Javascript 
                        <br/> EC2 &amp; S3 
                        <br/> Github 
                        <br/> Selenium</p>
                </div>
                <div class="job_column job_exp">
                    <div class="co_mini_subtitle">Experience</div>
                    <ul class="co_body_text">
                        <li>3-5+ years of experience working with Java, building consumer web applications.  Experience leading teams is highly preferred.</li>
                        <li>Undergrad degree in computer science or similar (multidisciplinary, weird minors, and circuitous careers a plus)</li>
                        <li>Proven experience working on highly scalable, database-backed web applications</li>
                        <li>Data analysis skills are a nice-to-have</li>
                        <li>Side projects or open-source contributions.</li>
                    </ul>
                </div>
                <div class="job_column job_to_do last_child">
                    <div class="co_mini_subtitle">Description</div>
                    <p class="co_body_text">You’ll help bring solutions to the following areas:  How do we handle dramatically more users?  What happens when users use the site for social interaction as opposed to data viewing? How do we speed up the response times of our site? How do we evaluate different distributed caching architectures? How do we integrate future devices into our ecosystem?  How do we implement changes to our site?  In addition to your technical chops, we need your leadership skills. We’ve hired some junior engineers recently, and you’ll serve as their lead.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- POSTING -->
    <!-- POSTING -->
    <!-- POSTING -->
    <div class="container w_shad_bord_bot clearfix first">
        <div class="content_area job_posting">
            <div class="co_title">Data Scientist</div>
            <div class="job_buttons">
                <a class="square_bt sm teal_bt launch-popup" href="#" data-popup-type="contact_us"><span>Apply →</span></a>
                <a class="square_bt sm teal_bt launch-popup" href="#" data-popup-type="contact_us"> <span>Referral →</span></a>
            </div> 
            <div class="job_desc clearfix">
                <div class="job_column job_specs">
                    <div class="co_mini_subtitle">Location</div>
                    <p class="co_body_text">Las Vegas</p>
                    <div class="co_mini_subtitle">Years</div>
                    <p class="co_body_text">4-5 years (but as long as you’re really good, we don’t really care.)</p>
                    <div class="co_mini_subtitle">Code</div>
                    <p class="co_body_text">
                        Python &amp; Django 
                        <br/> HTML &amp; CSS 
                        <br/> Javascript 
                        <br/> EC2 &amp; S3 
                        <br/> Github 
                        <br/> Selenium</p>
                </div>
                <div class="job_column job_exp">
                    <div class="co_mini_subtitle">Experience</div>
                    <ul class="co_body_text">

    

                        <li>2-5+ years of experience machine learning experience.  Experience leading teams is highly preferred.</li>
                        <li>Undergrad degree in computer science or similar (multidisciplinary, weird minors, and circuitous careers a plus)</li>
                        <li>Proven experience working on highly scalable, database-backed web applications</li>
                        <li>Proficient in machine learning methodologies (regression, classification and unsupervised approaches)</li>
                        <li>Familiarity with the digital media / advertising industry is a big plus</li>
                    </ul>
                </div>
                <div class="job_column job_to_do last_child">
                    <div class="co_mini_subtitle">Description</div>
                    <p class="co_body_text">You'll be using machine learning techniques to optimize advertisers selection for millions of end users as well as developing algorithms to take into account hundreds of different attributes to build user profiles.  This will most likely require implementation of third party data to build richer targeting and profile assets.  Knowledge of scraping, Scelenium, and xpaths is required for data retrieval.</p>
                </div>
            </div>
        </div>
    </div>

    


</div>












<!-- JOB APPLICATION FORM LIGHTBOX -->
<div class="background_fill_low" style="display:none;"></div>
<div class="contact_lb scrollable_lb" id="app_form" style="display:none; position:fixed;">
    <div class="cta">
        <p class="icon-thin_x close_btn" onclick="close_app_form();"></p>
    </div>
    <div class="contact_container">
        <h2 class="fashion_light xlarge lightgray uppercase center_text">Job Application Form</h2>



        <div class="main_section">
            <div class="content_area first clearfix with_margins"> 
                <form id="comment_form" class="clearfix" action="FormToEmail2.php" method="post">
                    <div class="top_form clearfix">
                        <div class="mono_field">
                            <div class="section_label center_text lightgray" style="padding-bottom:5px;">Your name</div>
                            <fieldset class="typical_form centered">
                                <input name="name" id="name" />
                            </fieldset>
                        </div>
                        <div class="mono_field">
                            <div class="section_label center_text lightgray" style="padding-bottom:5px;">Email</div>
                            <fieldset class="typical_form centered">
                                <input name="email" id="email" />
                            </fieldset>
                        </div>
                        <div class="mono_field" >
                            <div class="section_label center_text lightgray" style="padding-bottom:5px;">Phone Number</div>
                            <fieldset class="typical_form centered">
                                <input name="subject" id="subject" />
                            </fieldset>
                        </div>
                    </div>
                    <div class="top_form clearfix">
                        <div class="mono_field">
                            <div class="section_label center_text lightgray" style="padding-bottom:5px;">Github</div>
                            <fieldset class="typical_form centered">
                                <input name="name" id="name" />
                            </fieldset>
                        </div>
                        <div class="mono_field">
                            <div class="section_label center_text lightgray" style="padding-bottom:5px;">Portfolio</div>
                            <fieldset class="typical_form centered">
                                <input name="email" id="email" />
                            </fieldset>
                        </div>
                        <div class="mono_field" >
                            <div class="section_label center_text lightgray" style="padding-bottom:5px;">LinkedIn Profile</div>
                            <fieldset class="typical_form centered">
                                <input name="subject" id="subject" />
                            </fieldset>
                        </div>
                    </div>
                    <div class="bottom_form">
                        <div class="section_label center_text lightgray" style="padding-bottom:5px;">A little about you &amp; what you're looking for...</div>
                        <fieldset class="typical_form centered">
                            <textarea class="comment_field" name="comments" id="message" rows="10" cols="36" /></textarea>
                        </fieldset>
                    </div>
                    <div class="outer-center">
                        <div class="inner-center">
                            <input type="submit" value="Submit Form" class="teal_display_btn smaller_medium_version"  onclick="return false;">
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <!--div class="main_section light_linen with_shadow">
            <div class="content_area first clearfix with_margins with_bg_base">
                
                <div class="social_box clearfix">
                    
                    <div class="title_block with_border">
                        <h2 class="sub_title display_light large lightgray">&nbsp; &nbsp; Or Find Us On...</h2>
                    </div>
                    <div class="row_o_icons">
                        <a class="icon-facebook_hollow_circle" href="#"></a>
                        <a class="icon-twitter_hollow_circle" href="#"></a>
                        <a class="icon-pinterest_holl_circle" href="#"></a>
                        <a class="icon-earth" href="#"></a>
                    </div>
                </div>
            </div>   
        </div-->

    </div>
                    
               
</div>
{% endblock %}