<head>
    <link rel="stylesheet" href="/mymedia/site_folder/css/jquery.Jcrop.css" type="text/css" />
    <link href="/mymedia/site_folder/css/style.css" media="screen" rel="stylesheet" />
    <link href="/mymedia/site_folder/css/global.less" media="screen" rel="stylesheet/less" />
    <link rel="stylesheet" type="text/css" href="/mymedia/site_folder/css/laurens_font.css" />    
</head>

<body class="lt_gray_bg">
    <div class="lightbox dynamic bl_bg_lb w_logo">
        <div class="logo_centerer">
            <div class="icon-social_0_shelf_shelf3a"></div>
        </div>
        <div class="container">      
            <div class="content_area">
                {% if validlink %}
                    <div class="content_area_container px700 login_lb">
                        <h1 class="lb_title lessgray xlarge">New Password</h1>
                        <div class="above_content">
                            <!--div class="serif_ital small lessgray w_leading">Type a new password, then Submit.</div-->  
                        </div>
                        <form id="reset_password_form" method="post">{% csrf_token %}
                            <fieldset class="typical_form larger_field halfer">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="section_label lessgray">Password</label>
                                        <input type="password" class="req repeat-target" name="new_password1" placeholder="password again">
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="typical_form larger_field halfer right">
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="section_label lessgray">Re-type Password</label>
                                        <input type="password" class="req repeat" name="new_password2" placeholder="password again">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="centerer">
                                <input style="margin-top:60px;" type="submit" value="Submit!" class="square_bt xl teal_bt submit_reset_password_form" id="">
                            </div>
                        </form>
                    </div>
                {% else %}
                    <h1 class="lb_title lessgray xlarge">Password reset unsuccessful</h1>
                    <p class="lessgray">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/mymedia/site_folder/js/vendor/less-1.4.1.js"></script>
</body>
