<div generic-popup>
    <div class="content_area_container px800">
        <div ng-if="state == 'opened'">
            <h1 class="lb_title lg" ng-if="false && plan_name == 'None'">This feature is not available for your account. Contact us if you need this feature.</h1>
            <h1 class="lb_title lg" ng-if="false && plan_name != 'None'">This feature is locked in plan {{plan_name}}. Contact us if you need this feature.</h1>
            <h1 class="lb_title lg">This information is hidden during your trial. Upgrade to see this and other influencer data.</h1>
        </div>
    </div>
</div>



