{% load compressed %}
{% load custom_filters %}

<div influencer-stats-table{% if disable_editing %} disable-editing{% endif %} disable-posts-expand>

    <div class="outer-container campaign_drillin_table_wrapper {% block missing_content_wrapper_classes %}{% endblock %}" {% block extra_missing_content_attributes %}{% endblock extra_missing_content_attributes %} style="bottom: initial;">

        <div class="inner-container campaign_drillin_table {{ table_classes }}">
            <div>
                <div class="missing_content">
                    <div class="missing_text">
                        {% block missing_text %}No influencers yet.{% endblock missing_text %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="outer-container campaign_drillin_table_wrapper {% block table_wrapper_classes %}{% endblock %}" {% block extra_table_attributes %}{% endblock extra_table_attributes %}>

        <div class="inner-container campaign_drillin_table {{ table_classes }}" id="{{ table_id }}">

            <div class="table-header">
                <table id="headertable">
                    <thead>
                        <tr>
                            {% for field, header in fields %}
                                {% if not field in fields_hidden %}
                                    <th ng-if="tableCtrl.emptyHeaders() || tableCtrl.headers['{{field}}'].visible" {% if field not in fields_unsortable %}sorting-column class="{{ field }} column_{{ forloop.counter }}{% if sort_by == forloop.counter %} sorting_{% if sort_direction == 1 %}desc{% else %}asc{% endif %}{% endif %}" refresh-params="?sort_direction={% if sort_by != forloop.counter or sort_direction == 1%}0{% else %}1{% endif %}&sort_by={{ forloop.counter }}&{{ sorting_params.urlencode }}"{% else %}class="{{ field }} column_{{ forloop.counter }}"{% endif %}>{{ header }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                </table>
            </div>

            <tfoot>
                <tr>
                    {% for field, total in total_values %}
                        {% if not field in fields_hidden %}
                            <td ng-if="tableCtrl.emptyHeaders() || tableCtrl.headers['{{field}}'].visible" class="column_{{ forloop.counter }}">{{ total|default_if_none:"---" }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>

                <tr>
                    {% for field, perc in percentage %}
                        {% if not field in fields_hidden %}
                                <td ng-if="tableCtrl.emptyHeaders() || tableCtrl.headers['{{field}}'].visible" class="column_{{ forloop.counter }}">{{ perc|default_if_none:"---" }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tfoot>

            <div class="table-body">
                <table id="bodytable">
                    <tbody>
                        {% for row_data in paginated_data_list %}
                            <tr {% if row_data.row_attributes %}{{ row_data.row_attributes|safe }}{% endif %}>
                                {% for key, value in row_data.items %}
                                    {% if not key in fields_hidden %}
                                        {% if key in fields_loading and value == None %}
                                            <td ng-if="tableCtrl.emptyHeaders() || tableCtrl.headers['{{key}}'].visible" class="{{ key }} column_{{ forloop.counter }}">Loading...</td>
                                        {% else %}
                                            {% if value.keys and 'include_template' in value.keys %}
                                                <td ng-if="tableCtrl.emptyHeaders() || tableCtrl.headers['{{key}}'].visible" post-analytics-cell pa-id="{{ row_data.id }}" {% if 'approve_status' in value.keys %}approve-status="{{ value.approve_status }}"{% endif %} ng-class="{fetching_data: values.isQad == false}" class="{{ key }} column_{{ forloop.counter }}{% if value.td_class %} {{value.td_class}}{% else %} number_td{% endif %}"{% if value.disable_editing %} disable-editing{% endif %}>
                                                    {% include value.include_template with row_data=row_data field_data=value %}
                                                </td>
                                            {% else %}
                                                <td ng-if="tableCtrl.emptyHeaders() || tableCtrl.headers['{{key}}'].visible" class="{{ key }} column_{{ forloop.counter }}{% if value.td_class %} {{value.td_class}}{% else %} number_td{% endif %}">{{ value|default_if_none:"---" }}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% block extra_table_rows %}
                            {% endblock extra_table_rows %}
                        {% endfor %}
                    </tbody>
                </table>

                {% load paginator %}
                <div {% block paginator_wrapper %}{% endblock paginator_wrapper %}>
                    {% paginator object_list=paginated_queryset request=request %}
                </div>
            </div>

        </div>
    </div>

</div>
