{% extends 'pages/job_posts/base.html' %}
{% load compressed %}
{% load custom_filters %}

{% block body_class %}lt_gray_bg{% endblock %}

{% block bottom_js %}
{% compressed_js 'angular_saved_searches' %}
<script type="text/javascript">
(function(){
angular.module("theshelf")
    .value('nav_config', {
        tab: "{{selected_tab}}",
        sub_tab: "{{sub_page}}",
        visible: {% if hide_sidenav %}false{% else %}true{% endif %},
    })
    .value('dashboard_brand', null);
})();
</script>
{% include 'snippets/sticky_headers_js.html' with table_body_wrapper=".table-body" table_header_wrapper=".table-header" %}
{% endblock bottom_js %}

{% block search_content %}

    <div class="{% block dashboard_wrapper_classes %}{% endblock dashboard_wrapper_classes %}" {% block controller %}{% endblock controller %}>

        {% block dashboard_top_section %}

            <div class="dashboard_top_section transparent_bar">

                {% block dashboard_top_section_content %}

                    

                    <div class="campaign_tab_row_container" affixed>
                        <div class="campaign_tab_row clearfix">
                            {% block dashboard_sections_content %}
                                {% for key, section in campaign_switcher.sections %}
                                    {% if section.visible %}
                                        <a href="{{ section.url }}">
                                            <div class="campaign_tab{% if section.selected %} selected{% endif %}">{{ section.text }}</div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endblock dashboard_sections_content %}
                        </div>
                    </div>
                    <div class="search_name_row clearfix messages_tab">

                        <div class="name_section" {% if landing_page %}{% endif %}>
                            {% block dashboard_name_section_content %}
                                <div class="page_title">

                                    <span class="brand_name">
                                        {% block dashboard_title %}
                                            {% comment %}{% if campaign.client_name %}<strong>{{ campaign.client_name }}</strong> : {% endif %}{% endcomment %}
                                            <span>{{ campaign.title }} : {{ campaign_switcher.selected_section.text }}</span>
                                        {% endblock dashboard_title %}
                                    </span>

                                    {% verbatim %}
                                    <!--span class="info">Participating influencers: {{ pipelineCtrl.sections[0].count }}</span-->
                                    {% endverbatim %}
                                </div>
                            {% endblock dashboard_name_section_content %}
                        </div>

                        {% block dashboard_middle_header_section_wrapper %}
                        {% endblock dashboard_middle_header_section_wrapper %}

                        {% block dashboard_right_header_section_wrapper %}

                            <div class="right_header_section campaign_drill search_widget">
                                {% block dashboard_search_widget_content %}
                                    <fieldset class="typical_form special_bar_form" style="width:250px;">
                                        <input type="text" name="search" ng-model="tableCtrl.searchQuery" placeholder="Search" ng-keypress="$event.which === 13 && tableCtrl.search()()">
                                    </fieldset>
                                    {% verbatim %}
                                    <button class="header_search_button" ng-click="tableCtrl.search()"><span class="icon-misc_magnify2"></span></button>
                                    {% endverbatim %}
                                {% endblock dashboard_search_widget_content %}
                            </div>

                        {% endblock dashboard_right_header_section_wrapper %}

                    </div>

                {% endblock dashboard_top_section_content %}
            </div>

        {% endblock dashboard_top_section %}

        {% block dashboard_top_controls %}
            <div class="dashboard_top_controls pipeline_controls clearfix">
                {% block dashboard_top_controls_content %}
                {% endblock dashboard_top_controls_content %}
            </div>
        {% endblock dashboard_top_controls %}

        {% block dashboard_content %}
        {% endblock dashboard_content %}
    </div>

    {% block dashboard_sidebar %}
    {% endblock dashboard_sidebar %}
{% endblock search_content %}