<div ng-controller="TrackingCodesCtrl as trackingCodesCtrl">
    <ng-form name="sectionForm" form-handler="trackingCodes" novalidate>
       <div class="a_form_group padding_40_all clearfix">
            <div class="form_instruction main_instructions">Tracking codes are great if you’re trying to measure impressions and click-throughs to your site from each influencer’s blog. These do NOT work on social networks, however, we’ll use your branded hashtag/s and mentions to obtain engagement metrics. Adding tracking codes is very easy for your influencers. One snippet to copy-paste into their blog posts.</div>
            <div class="switch-large" toggle-switch ng-model="wizardCtrl.campaignData.info.trackingCodesOn" name="trackingCodesOn"></div>
        </div>

        <div class="form_divider w_0_30_pad_mag"></div>
    </ng-form>
</div>