{% extends 'popups/base.html' %}

{% block popup_content %}
  <h1 class="lb_title xlarge" style="font-weight:600;">Welcome to Shelf!</h1>
  <div class="display_book lightgray more_medium center_text">Hi!  Welcome to Shelf.  Here's a quick summary of what we do.<br/>Also, we have an information button in the upper-right<br/>that takes you through a quick tour on certain pages.</div>
  <br/>
  <br/>
  <div id="welcome">
    <div class="row_o_boxes clearfix">
      <div class="cont_bucket">
        <div class="bucket_area title_area gray uppercase display_bold smallermedium center_text">
          Price Alerts
        </div>
        <div class="bucket_area picture_area">
          <img src="/mymedia/site_folder/images/page_graphics/lightbox/welcome/2.png" />
        </div>
        <div class="bucket_area text_area lessgray display_book smaller_medium center_text">
          You can set up price alerts on the items that you like.  We'll let you know as soon as the price drops so you don't miss a deal!
        </div>
      </div>
      <div class="cont_bucket">
        <div class="bucket_area title_area gray uppercase display_bold smallermedium center_text">
          Historical Prices
        </div>
        <div class="bucket_area picture_area">
          <img src="/mymedia/site_folder/images/page_graphics/lightbox/welcome/3.png" />
        </div>
        <div class="bucket_area text_area lessgray display_book smaller_medium center_text">
          We show you historical price tracking charts so that you can figure out the right time to buy.  Why pay more than you have to?
        </div>
      </div>
      <div class="cont_bucket">
        <div class="bucket_area title_area gray uppercase display_bold smallermedium center_text">
          Size Availability
        </div>
        <div class="bucket_area picture_area">
          <img src="/mymedia/site_folder/images/page_graphics/lightbox/welcome/1.png" />
        </div>
        <div class="bucket_area text_area lessgray display_book smaller_medium center_text">
          Let us know your size and color preferences and we'll keep track of the availability. Why watch items that are out of stock?
        </div>
      </div>
      <div class="cont_bucket last_child">
        <div class="bucket_area title_area gray uppercase display_bold smallermedium center_text">
          Deal Aggregation
        </div>
        <div class="bucket_area picture_area">
          <img src="/mymedia/site_folder/images/page_graphics/lightbox/welcome/4.png" />
        </div>
        <div class="bucket_area text_area lessgray display_book smaller_medium center_text">
          Use our beautiful, color-coded promo dashboard and forget deal emails and coupon sites.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
